<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pittawan Chantrarut - Resume</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="resume-container">
    <div class="resume-header">
      <img src="assets/profile.jpg" alt="Profile Picture" class="profile-pic">
      <div class="header-text">
        <h1>PITTAWAN CHANTRARUT</h1>
        <div class="contact-info">
          <p><strong>Address:</strong> 1172 Moo 13, Ratnaphithan Rd., Joho Subdis., Mueang Dist., <br>
            Nakhon Ratchasima 30310, Thailand</p>
          <p><strong>Phone:</strong> 091-020-1345</p>
          <p><strong>Email:</strong> chantrarut_p&#64;silpakorn.edu</p>
          <p><strong>GitHub: </strong> <a href="https://github.com/chantrarutp">github.com/chantrarutp</a></p>
        </div>
      </div>
    </div>

    <div class="intro">
      <p> Highly motivated and detail-oriented 3rd-year CS student with hands-on experience in web and mobile
        development using cutting-edge technologies. Adept at solving complex problems and delivering innovative
        solutions. Seeking an internship opportunity to leverage technical skills, develop professionally, and
        contribute to impactful projects in a fast-paced environment.</p>
    </div>

    <div class="resume-section">
      <h2>EDUCATION</h2>
      <div class="edu-entry">
        <h4>Silpakorn University (Sanamchan Campus), Nakhon Pathom, TH <span class="grad-date">Expected Graduation: May
            2026</span></h4>
        <p>Bachelor of Science - Computer Science (Cumulative GPA: 3.35/4.00)
          <li>Coursework: Web Development, Database System Concept and Design, Data Structures, Human Computer
            Interaction and User Experience Design, Mobile Application Development</li>
        </p>
      </div>

      <div class="edu-entry">
        <h4>Sura Nari Witthaya School, Nakhon Ratchasima, TH <span class="grad-date">Graduation: 2022</span></h4>
        <p>Science-Mathematics Program (Cumulative GPA: 3.50/4.00)</p>
      </div>
    </div>

    <div class="resume-section">
      <h2>SKILLS</h2>
      <div class="skills-container">
        <ul class="skills-left">
          <li><strong>Programming Languages:</strong> Java, JavaScript, Python, C++</li>
          <li><strong>Web Development:</strong> HTML, CSS, PHP, Dart</li>
          <li><strong>Database Management:</strong> MySQL, XAMPP</li>
        </ul>
        <ul class="skills-right">
          <li><strong>Data Analysis:</strong> Pandas, NumPy</li>
          <li><strong>Frameworks:</strong> Angular, Flutter, Node.js, Express.js</li>
          <li><strong>Other Skills:</strong> Critical Thinking, Adaptability</li>
        </ul>
      </div>
    </div>

    <div class="resume-section">
      <h2>PROJECT EXPERIENCES</h2>

      <div class="project">
        <h3>Web Application Development (Feb - Apr 2024)</h3>
        <p>Designed and developed 'Kaitodhadsai', a responsive online food ordering web application.</p>
        <li>
          Utilized HTML, CSS, JavaScript, and PHP for the front-end, ensuring responsive and cross-browser
          compatibility, while implementing the back-end with PHP for robust data handling, using XAMPP as the local
          development environment.
        </li>
        <li>Focused on creating a clean and intuitive user interface, featuring clear call-to-action buttons and
          streamlined navigation to enhance user experience.
        </li>

      </div>

      <div class="project">
        <h3>Mobile Application Development (Oct - Nov 2024)</h3>
        <li>Enabled users to input and manage multiple options for generating a random choice.
        </li>
        <li>Implemented a responsive and interactive UI leveraging Flutter's widget tree and Material Design<br>
          principles to ensure usability and a visually appealing experience.
        </li>
        <li>Optimized performance using efficient state management solutions such as Provider and setState,<br>
          ensuring seamless user interactions.
        </li>
      </div>
    </div>

    <div class="project">
      <h3>Zero Copy with Java NIO (Aug - Nov 2024)</h3>
      <li>Implemented a cross-platform solution for efficient file transfer between Client and Server
      <li>Designed and developed a non-blocking IO system to enable seamless file transfer without<br>
        interrupting other operations.</li>
      <li>Enhanced system reliability and scalability by integrating error-handling mechanisms and<br>
        asynchronous processing techniques.</li>
    </div>

    <div class="resume-section">
      <h2>ACTIVITIES & INTERESTS</h2>
      <ul>
        <strong>"Web Application and REST API Backend Development with Node.js"</strong>
        <p>Topics: Introduction to databases: Relational (MySQL) vs NoSQL (MongoDB), Setting up database connections in
          Node.js, Structuring a REST API project in Node.js, Building a sample web application with frontend-backend
          integration and Discussing best practices and common pitfalls in Node.js development.</p>
        <strong>"Career-Ready English Skills Workshop on Job Applications"</strong>
        <p>Hosted by Grant Thornton, Thailand and Cathcart Associates Asia Recruitment
          Topics: IT Job Market Overview, Creating an Impactful Resume, Building a LinkedIn Profile, Job Application
          Strategies, Development Assessment, Interview Preparation, and contracts and negotiation.</p>
      </ul>
    </div>
  </div>
</body>

</html>